/** CONTENT **/

.contentWrapper {
  background: #36393f;
  display: flex;
  flex: 1 1 800px;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}

.viewContent {
  padding: 60px 40px 80px;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  max-width: 740px;
  min-width: 460px;
  min-height: 0px;
}