:root {
  --gray: #72767d;
  --blurple: #7289DA;
  --white: #FFFFFF;
  --grayple: #99AAbe;
  --dark: #2C2F33;
  --darker: #36393f;
  --darkest: #23272A;

  --error: #f04747;

  --box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

.App {
  background-color: #202225;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.app-link {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #7289DA;
  text-decoration: none;
}
.app-link:hover {
  text-decoration: underline;
}

p {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.modal {
  padding: 25px;
  display: flex;
  align-items: center;
  max-height: 660px;
}
.modal.dark {
  min-height: 200px;
  padding: 0;
  display: flex;
  color: #b9bbbe;
  align-items: center;
  background-color: #36393f;
  box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

.input {
  resize: none;
  height: 30px;
  font-size: 0.9rem;
  min-width: 50px!important;
  color: #f6f6f7;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.3);
  background: rgba(0,0,0, 0.1);
  outline: none;
  padding-left: 10px;
}
h5 {
  color: #b9bbbe;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 16px;
  font-size: 0.8rem;
  flex: 1;
  margin-block-start: 0;
  margin-block-end: 1em;
}

.buttonWrapper {
  margin-top: 30px;
  margin-bottom: 10px;
}

.inputWrapper {
  margin-bottom: 20px;
  position: relative;
}

.flexContainer {
  flex: 1 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.defaultAvatar {
  background-image: url('./assets/discord-avatar.png');
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: 50%;
  background-size: 80% 80%;
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
}

.divider {
  background-color: rgba(114, 118, 125, .3);
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: 0;
  border: 0;
}