.serverContent {
  background-color: #2f3136;
  flex-shrink: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerWrapepr {
  flex: 0 0 auto;
}

.header {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  height: 48px;
  z-index: 3;
  transition: background-color .15s ease;
  display: flex;
  font-weight: 500;
  padding: 0 12px 0 16px;
  position: relative;
  background-color: rgba(0,0,0,.1);
}

.header > span {
  flex: 1;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CHANNELS */

.channelsWrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  min-height: 0;
}

.channelsScroller {
  padding-bottom: 20px;
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 0;
}