.authBackground {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBox {
  background: var(--darker);
  padding: 40px;
  width: 400px;
  display: inline-block;
  border-radius: 5px;
  color: var(--gray);
  box-shadow: var(--box-shadow);
}

.logo {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 130px;
}

.title {
  line-height: 32px;
  margin-bottom: 8px;
  color: #FFF;
  font-weight: 300;
  font-size: 1.5rem;
}

.subTitle {
  line-height: 22px;
  font-size: 1.1rem;
  color: var(--gray);
  font-weight: 400;
}

.authBox > header {
  text-align: center;
  margin-bottom: 20px;
}