.channelsWrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  min-height: 0;
  flex-direction: column;
  flex: 1;
  padding: 60px 6px 60px 20px;
}

.channelsScroller {
  padding-bottom: 20px;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}
