/** CONTENT **/

.contentWrapper {
  background: #36393f;
  display: flex;
  flex: 1 1 800px;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}

.viewContent {
  padding: 60px 40px 80px;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  max-width: 740px;
  min-width: 460px;
  min-height: 100%;
}

/** ACCOUNT **/
.accountWrapper {
  width: 100%;
}

.accountHeader {
  color: #f6f6f7;
  text-transform: uppercase;
  cursor: default;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 20px;
}

.accountContainer {
  padding: 20px;
  background: rgba(32,34,37,.6);
  border-radius: 5px;
  border: 1px solid #202225;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.label {
  color: #72767d;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}
.value {
  color: #b9bbbe;
  line-height: 20px;

}