.membersWrap {
  min-width: 240px;
  display: flex;
  position: relative; 
}
.membersScrollWrapper {
  height: auto;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}
.membersScroller {
  background-color: #2f3136;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 20px;
  flex: 1;
  min-height: 0;
}

.membersGroup {
  color: hsla(0, 0%, 100%, .4);
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  line-height: 20px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.member {
  color: #b9bbbe;
  display: flex;
  height: 40px;
  margin: 1px 8px;
  overflow: hidden;
  border-radius: 3px;
  align-items: center;
  cursor: pointer;
}

.member.offline {
  color: rgba(185, 187, 190, .9);
}

.memberContent {
  display: flex;
  padding: 8px;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  border-radius: 4px;
}
.memberContent:hover {
  background: rgba(185, 187, 190, 0.1);
  color: rgba(246, 246, 247);
}
.avatarWrapper {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.crown {
  height: 14px;
  width: 14px;
  margin-left: 10px;
}