.mainApp {
  /* keep */
  display: flex;
  height: 100%;
  width: 100%;
}


.contentBox {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.channelsBox {
  background-color: #2f3136;
  flex-shrink: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 100%;
}